@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient(to right, #FF4885, #CBE2FE, #10288C, #FFE8F0, #4B0090);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #e7266ab9 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #4B0090;
    text-align: center;
    text-shadow: 1px 1px 0px #220141a1;
}
h2 {
    color: #d4507e;
}
p{
    text-align: justify;
}